<p>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<a href='{% url "index" %}'>Learning Log</a>
  <a href='{% url "topics" %}'>Topics</a>
  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'logout_view' %}"> Log out</a>
  {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
</p>

{% block content %}{% endblock %}

