{% extends 'base.html' %}
{% block content %}
  <p>Add a new topic:</p>
  <form action="{% url 'new_topic' %} " method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name='submit'>add topic</button>
  </form>

{% endblock content %}

<!-- аргумент астион сообщает серверу куда передавать отправленные формой 
данные возвращаются функции представления  нью топик
method приказывает браузеру отправлять данные в запросе пост
ас_р приказывает отображать в формате абзацев
джанго не создает кнопку отправки форм для данных поэтому ее надо опрделеить через шаблон -->